language: node_js
node_js:
  - '0.10'
before_install:
  - currentfolder=${PWD##*/}
  - if [ "$currentfolder" != 'generator-sass-library' ]; then cd .. && eval "mv $currentfolder generator-sass-library" && cd generator-sass-library; fi

